# Belangrijk → duizenden geïnstalleerde packages hoef je niet naar GitHub te pushen
node_modules/ 

# Gecompileerde JavaScript-output hoef je meestal niet te bewaren in Git
dist/

# Voorkomt dat wachtwoorden/API-keys naar GitHub gaan
.env

# Tijdelijke TypeScript-buildinformatie
*.tsbuildinfo

# VS Code persoonlijke instellingen, meestal niet nodig
.vscode/
